:root {
    --primary-color: #233767;
    --secondary-color: #02afbe;
    --text-primary-color: #000000;
    --text-secondary-color: #757575;
    --background-color: #fafafa;
    --done-color: #54B948;
    --danger-color: #ED4B44;
    --warning-color: #FECC06;
}